In [2]:
set1 = {1,True,'DANI',67,100} #duplicate items are not allowed in set so it print 1 or True 

print(set1)

{1, 67, 'DANI', 100}

In [3]:
set1.add(200)

print(set1)

{1, 67, 'DANI', 100, 200}

In [5]:
print(set1.pop())
print(set1)

67
{'DANI', 100, 200}

In [6]:
set1.remove(45) #this will give us KeyError because 45 is not present in set

KeyError: 45

In [8]:
set1.discard(45) # if 45 is present in set so it will remove from it but if 45 is not present it will give me any error

print(set1)

{'DANI', 100, 200}

In [13]:
set2 = {4,100,5,6,2}

union = set1.union(set2)
print(union)

{2, 'DANI', 100, 5, 4, 6, 200}

In [14]:
intersection_ = set1.intersection(set2)
print(intersection_)

{100}